nav{

    background-color: dimgray;
    
}

a{

}
.menuLink{
    text-decoration: none;
    font-size: medium;
    transition:font-size 0.5s;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.menuLink:hover{

    font-size:x-large;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li{
    margin-left: 4%;
    list-style-type: none;
}
